#bskradm {font-size:12px;}
#bskradm h2 {font-size:14px;font-family:dotum;font-weight:bold;border-bottom:#efefef solid 1px;padding:10px 0 10px 0;margin:0 0 20px 0;letter-spacing:-1px;}
#bskradm table {margin:0 0 20px 0;}
#bskradm td {padding:5px 0 5px 0;}
#bskradm .td1 {padding-left:20px;width:100px;}
#bskradm .td2 {padding-left:10px;color:#999;}
#bskradm .td2 a {text-decoration:underline;color:#0000ff;}